[Unit]
Description=Sineware ProLinux Daemon

[Service]
ExecStart=/opt/sbin/node /opt/prolinuxd/index.js
StandardOutput=journal
StandardError=journal

RestartSec=10
Restart=always

[Install]
WantedBy=basic.target