[Unit]
Description=Sineware ProLinux Daemon

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/prolinuxd/index.js
StandardOutput=kmsg+console
StandardError=kmsg+console
Environment=CONFIG_FILE=/sineware/data/prolinux.toml

RestartSec=10
Restart=always

[Install]
WantedBy=basic.target